{% extends "base.html" %}
{% block content %}
<h1>Edit Product</h1>
<div class="card">
<form method="POST">
    <label>Product Name</label>
    <input type="text" name="name" value="{{ product.name }}" required>

    <label>SKU / Barcode</label>
    <input type="text" name="sku" value="{{ product.sku }}" required>

    <label>Category</label>
    <input type="text" name="category" value="{{ product.category or '' }}">

    <label>Unit</label>
    <input type="text" name="unit" value="{{ product.unit }}">

    <label>Reorder Level</label>
    <input type="number" name="reorder_level" value="{{ product.reorder_level }}">

    <br><br>
    <button type="submit" class="btn">Update Product</button>
</form>
</div>
{% endblock %}
